html {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 !important;
    font-family: 'PT Sans';
    background: black;    
    /*background: #128380;*/

}
body {    
    color: white;
    display: table-cell;
    vertical-align: middle;
    background: url("http://mediamap.me/wp-content/themes/mediamap/images/background.jpg") no-repeat center center fixed;
    background-size: contain;
}

.content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 99%;
}

canvas {
    width: 100%;
    height: 100%;    
    font-size: 17px;    
}

#header {
    position: fixed;
    width: 100%;
}
.header_content {    
    background: rgba(0, 0, 0, 0.7);
    font-size: 14px;
    width: 100%;
    float: left;
}

.header_content a {
    color: white;
    opacity: 1;
    text-decoration: none;
}
.header_content__left {    
    float: left;
    margin-left: 60px;
}
.header1 > .header_content__left {
    line-height: 60px;    
}
.header_content__left > .nickname {
    text-transform: uppercase;
    font-size: 21px;
    vertical-align: middle;
}

.header_content__left > .filter {
    margin-left: 30px;    
}

.filter-selected {
    background: url("http://mediamap.me/wp-content/themes/mediamap/images/filter-selected.png") no-repeat center left !important;
    background-size: 17px !important;
}

.header_content__left > .filter > a {        
    background: url("http://mediamap.me/wp-content/themes/mediamap/images/filter.png") no-repeat center left;
    background-size: 17px;
    padding-left: 25px;
    margin-left: 50px;    
}

.header_content__right {
    float: right;
    line-height: 60px;
    margin-right: 60px;
}

.header_content__right a {    
    padding-left: 50px;
}

.header2 {
    background: rgba(0, 0, 0, 0.55);
    display: block;
}
.header2 > .header_content__left {
    line-height: 50px;
}
.send_text {
    margin-right: 10px;
}
.save_as_pdf {
    background: url("http://mediamap.me/wp-content/themes/mediamap/images/save-as-pdf.png") no-repeat center left;
    background-size: 17px;
    padding-left: 20px;
    padding-right: 60px;
}

.email_input {
    font-size: 18px; 
    background: black;
    border: medium black;
    border-radius: 10px;
    display: inline;
    min-width: 200px;
    width: 200px;    
}

.email_input > input {
    padding-left: 5px;
    border: none;
    color: grey;
    font-size: 13px;
    background: none;    
}

.email_input > input:focus {
    outline: none;
}
.email_input > input.email_error {
    color: red;
}
.email_step1 {
    display: inline-block;
}
.email_step2 {
    display: inline-block;
    font-size: 13px;
    color: green;
}
.send_email {
    background: url("http://mediamap.me/wp-content/themes/mediamap/images/email-arrow.png") no-repeat center left;
    background-size: 17px;
    margin-right: 5px;
}
.share {
    margin-left: 60px;
}

.popup {
    z-index: 20;
    position: fixed;
    left: 0; bottom: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 !important;
}
    
    .popup__content {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin: auto;
    }

    .youtube__shadow {
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.65;
    }
    
    .youtube__content {        
        width: 720px;
        height: 405px;
    }
    
    .youtube__content .close {
        float: right;
        margin-right: -20px;
        margin-top: -20px;      
    }
    
    .auth__popup {
        display: none;
    }
    .auth__content {
        width: 420px;
        height: 410px;
        background: url('/wp-content/themes/mediamap/images/auth.png') no-repeat center;
    }
    
    .wp-social-login-widget {
        margin-top: 250px;
    }
    
    .wp-social-login-provider {
        width: 49px;
        height: 49px;
        display: inline-block;
        padding: 5px;
        margin: 8px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .wp-social-login-provider-list {
        text-align: center;                
    }
    .wp-social-login-provider-list img{
        display: none;
    }
    .wp-social-login-provider-facebook {
        background-image: url( "/wp-content/themes/mediamap/images/facebook.png" );
    }
    .wp-social-login-provider-vkontakte {
        background-image: url( "/wp-content/themes/mediamap/images/vk.png" );
    }

.user_avatar {
    display: none;
}

/*      Card       */
.card__popup {
    position: fixed;
    left: 0; bottom: 0;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0 !important;
    z-index: 1;
}

    .card__wrap {
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        color: black;
        height: 750px;
        width: 400px;
        margin: auto;
        overflow: scroll;
    }
    
        .card__wrap .close-card {
            float: right;
            margin: 20px;            
        }
        
        .card__wrap .close-card:hover {
            cursor: pointer;
        }
    
    .card__content {
        margin: 50px 40px 50px 40px;
    }
        .card__content .path {
            font-size: 13px;
            word-wrap: break-word;
        }
        
        .card__content .title {
            margin: 15px 0 40px 0;
            font-size: 22px;
            word-wrap: break-word;
        }
        
        .card__content .content {            
            word-wrap: break-word;
        }
        
        .card__content .sharing {
            margin-top: 25px;
            font-size: 18px;
        }
        
        .card__content .sharing__row {
            margin-top: 5px;
        }
        .card__content .sharing .twitter{
            margin: 0 6px 0 6px;
        }
        

/*      Card List       */
.cardlist__popup {
    left: 70px;
    top: 70px;
    position: absolute;
    display: inline-block; 
}
    .cardlist__popup .close {
        position: relative;
        float: right;
        margin-right: 10px;
        margin-top: 10px;
    }
    .cardlist__popup .close:hover {
        cursor: pointer;
    }
    .cardlist__popup:after {
        content: '';
        position: absolute;
        border-style: solid;        
        border-color: transparent #FFFFFF;
        display: block;
        width: 0;
        z-index: 1;                
    }
    
    .cardlist__popup_left_bottom:after {
        border-width: 15px 15px 15px 0;
        bottom: 3px;
        left: -15px;
    }
    .cardlist__popup_left_top:after {
        border-width: 15px 15px 15px 0;
        left: -15px;
        top: 10px;
    }
    .cardlist__popup_right_bottom:after {
        border-width: 15px 0 15px 15px;
        bottom: 3px;
        right: -15px;
    }
    .cardlist__popup_right_top:after {
        border-width: 15px 0 15px 15px;
        right: -15px;
        top: 10px;
    }

    .cardlist__popup .row, .card__popup .row {    
        height: 5px;
        background: blue;        
    }
    
    .c__shadow {
        position: fixed;
        left: 0; bottom: 0;    
        padding: 0;
        margin: 0 !important;
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0.65;
    }
    
    .cardlist__content {        
        padding: 30px 0 30px 0;
        background: white;        
        color: black;
        width: auto;
        font-size: 13px;
        
    }
    .cardlist {
        overflow: scroll;
        max-height: 300px;
    }
    
    .cardlist__popup .buttons {
        padding: 5px 30px 20px 30px;        
    }

    .cardlist__popup .buttons span {        
        border: 1px solid blue;
        border-radius: 20px;
        padding: 5px 15px 5px 15px;
    }
    .cardlist__popup .buttons span:first-of-type {
        margin-right: 10px;
    }        
    .cardlist__popup .buttons span:hover {
        cursor: pointer;
    }
    .cardlist__popup .card_preview {
        max-width: 250px;
        margin: 10px 0 10px 0;
        padding: 0 30px 0 30px;
    }
    .cardlist__popup .card_preview:hover {
        cursor: pointer;
    }
    
    .cardlist .card_preview__action {
        color: blue;
        max-width: 250px;
        word-wrap: break-word;
    }
    
    .cardlist .card_preview__title {
        font-size: 16px;
        max-width: 250px;
        word-wrap: break-word;
    }
        
@media (max-width: 1151px) {
    .header_content { font-size: 12px; }
    .header1 > .header_content__left { line-height: 45px;  }
    .header_content__left > .nickname {  font-size: 18px;  }
    .header_content__left > .filter > a {            
        background-size: 16px;
        padding-left: 24px;
        margin-left: 30px;    
    }
    .header_content__left > .filter > a:hover {            
        cursor: poiner;
    }
    
    .header_content__right {      
        margin-right: 30px;
        line-height: 45px;        
    }
    
    .header_content__right a {    
        padding-left: 30px;
    }
    .header2 > .header_content__left {
        line-height: 35px;
    }
    
}
.wp-social-login-connect-with{
    visibility: hidden;
}
.loader__content {    
    width: 200px;
    height: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

.hide {
    visibility: hidden;
}